@{
    ViewData["Title"] = "About Us";
}

<div class="text-center">
    <h1 class="display-4">
        Your Complete Online Scheduling Software
    </h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p> Let clients Register membership, book Programs and appointments online  </p>
    <p> Manage Schedules, Staff, Memberships, Attendance and Clients </p>
    <p> Offer services as a membership or package </p>
    
</div>
<div  >
    <h2 >Welcome to Nina's Fitness Center</h2>
    <img src="https://business.uoregon.edu/sites/business1.uoregon.edu/files/styles/banner/public/news/Enews-Covid-Gym-Safety-thumb-202101.jpg?itok=kFFfNUfR" alt="GYM" />
</div>