@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Server Side Script Project -- Fitness website</h1>
    <h2>Creating a Web application in ASP.NET core</h2>
    <img src="https://cdn.dribbble.com/users/1787323/screenshots/7045709/media/cba10b915791c582f8fccf324af2f348.png?compress=1&resize=1200x900&vertical=top" alt="home img" />
</div>
